@charset "utf-8";
.header {
    background-color: #09A8B0;
    height: 43px;
    margin-top: -11px;
    width: auto;
    text-align: left;
    line-height: 59px;
}
.huan {
    margin-top: 206px;
    width: 200px;
    height: 150px;
    overflow-x: visible;
    overflow-y: visible;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}
body {
    text-align: center;
}
.sou form .s {
    width: 427px;
    height: 25px;
}
.sou form .a {
    font-family: "李旭科书法 v1.4";
}
