
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square .mdl-card__title.icon1 {
    color: #fff;
    background: url(/assets/imgs/icon.png) bottom right 15% no-repeat #46B6AC;
}

.demo-card-square .mdl-card__title.icon2 {
    color: #fff;
    background: url(/assets/imgs/ssr_icon.png) bottom right 15% no-repeat #ffffff;
}

.demo-card-square .mdl-card__title.icon3 {
    color: #fff;
    background: url(/assets/imgs/sans_icon.jpg) bottom right 15% no-repeat #ffffff;
}

.demo-card-square .mdl-card__title.icon4 {
    color: #fff;
    background: url(/assets/imgs/icon2.png) bottom right 15% no-repeat #80cbc4;
}